/** Define my custom variables */
$color-yellow : #FFE600;
$color-grey: #EEEEEE;
$color-text: #333333;
$color-grey-70: #999999;
$color-blue: #3483FA;
$color-white: #ffffff;

$background-gray: #f5f5f5;
$background-default: #eaeaea;
$text-color: #333;
$text-black: #000;